<div class="user_address">
  <h1>{{ user.Name }}</h1>
  <h3>{{ user.Title }}</h3>
  <p>{{ user.Address }}</p>
  <div *ngIf='user.Phone.length'>
    Phone:
    <p *ngFor='let item of user.Phone'>{{item}}</p>
  </div>
</div>

<button *ngIf = "showYesterdayClass" (click)="showYesterdayClassTrue()">Show Yesterday's</button>


<button *ngIf = "!showYesterdayClass" (click)="showYesterdayClassTrue()">Hide Yesterday's</button>

<div *ngIf="showYesterdayClass">

  <h2>Yesterday's class</h2>
  <p>
    {{ message }}
  </p>
  {{ addsumNum(sumNum,8) }}
</div>

<div>
  <p>20th June Class</p>
  <h4>One-Way Binding</h4>
  <input type="text" [value]="inputText">
  {{inputText}}

  <h4>Two-Way Binding</h4>
  <input type="text" [(ngModel)]="inputText2">
  {{inputText2}}

</div>
